@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AntiAuc</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#332F2E;">
    <header>
        <nav class="navbar navbar-expand-md fixed-top " style="background-color:#000000">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="btn btn-lg btn-link " style="margin-right: 10px; color:orange;" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["home"]</a>
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
            <form>
                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-lg btn-outline-warning my-2 my-sm-0" style="color:orange;" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["login"]</a>
                    }
                    else
                    {
                        <a class="btn btn-lg btn-outline-warning my-2 my-sm-0" style="color:orange;" asp-area="" asp-controller="Account" asp-action="Profile">@Localizer["profile"]</a>
                    }
                }
            </form>
        </nav>
    </header>

    <div class="container">
        <br />
        <br />
        <br />
        <hr />
        @RenderBody()
    </div>














    @RenderSection("scripts", required: false)

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <!-- остальное содержимое-->
    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="assets/jquery/jquery-1.11.3.min.js" type="text/javascript" defer></script>



    </environment>





</body>
</html>
