@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

@*<div class="btn-group" role="group">
    <button id="btnGroupDrop1" class="btn btn-outline-warning dropdown-toggle" style="color:orange;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lang
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="@cultureItems[0].Value">@cultureItems[0].Text</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="@cultureItems[1].Value">@cultureItems[1].Text</a>
        <a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="@cultureItems[2].Value">@cultureItems[2].Text</a>
    </div>
</div>*@

    <form asp-controller="Home" asp-action="SetLanguage"
          asp-route-returnUrl="@Context.Request.Path"
          method="post" class="form-horizontal">
         <select name="culture"  style="color:orange; background-color:black; border-color:orange;" onchange="this.form.submit(); "
                                        asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                        asp-items="cultureItems"></select>
    </form>